  {% if page.lang != nil %}
  <p><strong>Available languages:</strong>
    {% assign base_name = page.name | split: '.' | first %}
    {% assign fbase_name = base_name | split: '-'| first %}
    {% assign all_pages = site.JOURNALS | where_exp: "item", "item.name contains fbase_name" %}
    {% for page in all_pages %}
      {% assign lang = page.lang %}
      <a href="{{ site.baseurl }}{{ page.url }}">{{ lang }}</a>
      {% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </p>
  {% endif %}
  