<!-- giscus theme -->
<script>
    // Function to set the Giscus data-theme attribute
    function setGiscusTheme(themeVariable) {
      var giscusScript = document.querySelector("script[src='https://giscus.app/client.js']");
      giscusScript.setAttribute("data-theme", themeVariable);
    }
  
    // Function to handle theme changes
    function handleThemeChange() {
      var isLightTheme = localStorage.getItem("theme") === "light";
      var themeVariable = isLightTheme ? "light_protanopia" : "dark_protanopia";
  
      // Update the Giscus data-theme attribute
      setGiscusTheme(themeVariable);
    }
  
    // Initially set the Giscus data-theme attribute
    handleThemeChange();
  
    // Listen for theme changes and update the Giscus data-theme
    window.addEventListener("storage", function (event) {
      if (event.key === "theme") {
        handleThemeChange();
      }
    });
  </script>
  
  <!-- Mermaid -->

  <script>
    // Add class to the pre element
    document.addEventListener('DOMContentLoaded', function () {
        var preElements = document.querySelectorAll('pre code.language-mermaid');
        preElements.forEach(function (codeElement) {
            // Add class to the parent pre element
            codeElement.parentNode.classList.add('premermaid');
        });
    });
</script>

<!-- Pseudocode -->

<script>
  pseudocode.renderElement(document.getElementById("algorithm"), { lineNumber: true });;
</script>


<script>
  document.addEventListener("DOMContentLoaded", function () {
      // Get the first code block with the language "pseudocode"
      var codeBlock = document.querySelector('code.language-pseudocode');

      if (codeBlock) {
          // Create a <pre> element with the ID "algorithm"
          var preElement = document.createElement('pre');
          preElement.id = 'algorithm';

          // Set the content of the <pre> element to the code content
          preElement.textContent = codeBlock.textContent.trim();

          // Replace the code block's parent with the <pre> element
          codeBlock.parentNode.replaceWith(preElement);
      }
  });
</script>


<!-- markdownify -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
      var aContent = document.getElementById('acontent');
      var markdownContent = aContent.innerHTML;
      aContent.innerHTML = marked(markdownContent);
  });
</script>



