@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600&family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&family=Roboto+Mono:wght@300;400;500;600&display=swap');

:root{
  --header-primary: #0A0A0A;
  --body-primary: #242424;
  --hr-primary: #AA6FD9;
  --header-text: #8805EE;
  --body-text-primary: #E6EDF3;
  --table-head:#0A0A0A;
  --link-primary: #8805EE;
  --code-primary: #220f0f;
  --alerts-bluebox-primary: #202020;
  --alerts-blueborder-primary:#4eb1d7;
  --alerts-redbox-primary: #202020;
  --alerts-redborder-primary:#e7017a;
  --alerts-greenbox-primary:#202020;
  --alerts-greenborder-primary:#4ed767;
  --alerts-voiletbox-primary: #202020;
  --alerts-voiletborder-primary:#b04ed7;
}
.light-theme{
  --header-primary: #a771d2;
  --body-primary: #FBFBFB;
  --hr-primary: #FAFAFA;
  --header-text: #FFF;
  --body-text-primary: #252525;
  --table-head:#b184d6;
  --link-primary: #8805EE;
  --code-primary: #8a8191;
  --alerts-bluebox-primary:#eaf4f7;
  --alerts-blueborder-primary:#4eb1d7;
  --alerts-redbox-primary:#f6ecef;
  --alerts-redborder-primary:#e7017a;
  --alerts-greenbox-primary:#edf7ef;
  --alerts-greenborder-primary:#4ed767;
  --alerts-voiletbox-primary:#f2edf6;
  --alerts-voiletborder-primary:#b04ed7;
}

body, h1, h2, h3, h4, h5, h6,
p, pre, hr,
dl, dd, figure {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
}
@media print {
  
  #footer, iframe, .headercontainer, .totop, .btncontainer {
    display: none;
  }
  
  body, h1, h2, h3, h4, h5, h6,
  p, blockquote, pre, td, th,
  dl, ol, ul, dd, mjx-math {
    color: #000;
  }
  code.language-plaintext.highlighter-rouge{
    border: 1px solid #a7a7a7;
  }
  code{
    color: #242424;
  }
  .giscus{
    display: none;
  }
  .giscust{
    display: none;
  }
}


a{
  color: var(--link-primary);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
p{
  line-height: 1.5;
}
li{
  line-height: 1.5;
}
hr{
  height: 2px;
  border-style: none;
  background-color: #505050;
}
blockquote {
  border-left: 2px solid #a771d2; 
  padding-left: 10px; 
  margin: 15px 0; 
}


body{
  margin: 0px;
  font-family: 'DM Sans', sans-serif;;
  font-size: 16px/1.2;
  background-color: var(--body-primary);
  color: var(--body-text-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper{
  flex: 1;
}

/* Header */

.sitetitle{   
  text-align: center;
  color: white;
  font-size: 2.5em;
 }

 .headercontainer{
  background-color: var(--header-primary);
  padding: 25px 0;
  margin-bottom: 50px;
}

header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.headerhr{
  height: 2px;
  border-style: none;
  background-color: var(--hr-primary);
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color:var(--header-text);
  font-size: 1.2rem;
  margin-right: 25px;
}
.menu a:hover{
  text-decoration: underline;
}

#themeicon{
  width: 35px;
  cursor: pointer;
}

/* footer */

.footercontainer {
  margin-top: 50px;
  width: 100% ;
  text-align: center;
  background-color: var(--header-primary);
  padding: 35px 0px;
  bottom: 0;
}

.footertxt {
  margin: 0;
  color: #fff;
  text-align: center;
}

.footerlnk {
  color: var(--header-text);
}

/* #homecnt{
  height: 100vh;
} */

/* postlist */

.listcontent{
    margin-bottom: 30px;

}

.listdate{
    margin-bottom: 3px;
    color: var(--body-text-primary);
}
.listtitle{
    font-size: 1.6rem;
    color: var(--link-primary);
    text-decoration: none;
}
.listtitle:hover{
  text-decoration: underline;
}

/* About me */

.profileimg{
  width: 75px;
  border-radius: 50px;
  margin-bottom: 25px;
}


/* journalmd */

.sourcebtn{
  padding: 5px 10px;
  border-radius: 8px;
  margin-right: 8px;
  background-color: #AA6FD9;
  border: none;
  color: white;
  font-size: 14px;
}
.sourcebtn:hover{
  background-color: #9c3aec;
}

.rssbtn{
  padding: 5px 10px;
  border-radius: 8px;
  margin-right: 8px;
  background-color: #fb8f23;
  border: none;
  color: white;
  font-size: 14px;
}
.rssbtn:hover{
  background-color: #f26522;
}

.btnlnk{
  color: white;
  text-decoration: none;
}
.btnlnk:hover{
  text-decoration: none;
}
.socialbtn{
  padding: 5px 10px;
  border-radius: 8px;
  margin-right: 8px;
  margin-top: 8px;
  background-color: #5f86e8;
  border: none;
  color: white;
  font-size: 14px;
}
.socialbtn:hover{
  background-color: #3165ea;
}

.btncontainer{
  margin-bottom: 10px;
}

.mdicon{
  margin-right: 3px;
}
.sharediv{
  display: inline;
  text-align: center;
  
}
.share-menu {
  margin-top: 15px;
  display: none;
  margin-left: 100px;
  position:absolute;
  background-color: #5f86e8;
  border-radius: 5px;
  z-index: 1;
  padding: 5px 3px 0;

}

.share-icon {
  margin: 10px;
  font-size: 25px;
  cursor: pointer;
}

/* Back to top */

.totop{
  position: fixed;
  right: 35px;
  bottom: 35px;
  text-align: right;
  z-index: 5;
  /* padding-right: 50px; */
}

.backtop{
  font-size: 2rem;
  background-color: var(--header-primary);
  border-radius: 5px;
  padding: 3px;
  color: white;
}
.backtop:hover{
background-color: var(--link-primary);
}

html{
  scroll-behavior: smooth;
}

/* code */
pre,
 code {
  font-family: 'JetBrains Mono', monospace;
   font-size: 15px;

   border: 1px solid #e8e8e8;
   border-radius: 3px;
 }
 
 code {
   padding: 1px 5px;
 }
 
 pre {
   padding: 8px 12px;
   overflow-x: auto;
 }
 pre > code {
   border: 0;
   padding-right: 0;
   padding-left: 0;
 }

 /* tables */

 table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: var(--body-text-primary);
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
}

table th, table td {
  padding: 10px 15px;
}
table th {
  background-color: var(--table-head);
  border: 1px solid #dedede;
  border-bottom-color: #c9c9c9;
}
table td {
  border: 1px solid #e8e8e8;
}

#journal img{
  width: 100%;
}

#journal img.emoji{
  width: auto;
}

/* alerts */

.atitle{
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 500;
}
.asel a{
  color: var(--body-text-primary);
}
.asel a:hover{
  text-decoration: none;
}
.aimg {
  font-size: 22px; /* Adjust the font size to your preference */
  margin-right: 5px; /* Add some space between the icon and text */
}
.ainfo, .anote, .atip, .aexample, .adefinition{
  font-size: 15px;
  padding: 15px;
  background-color: var(--alerts-bluebox-primary); 
  color: var(--body-text-primary); 
  border-radius: 8px; 
  margin-bottom: 15px;
  border: 0px solid var(--alerts-blueborder-primary);
  border-left: 4px solid var(--alerts-blueborder-primary);
}
.asolution, .asuccess, .acheck, .acomplete{
  font-size: 15px;
  padding: 15px;
  background-color: var(--alerts-greenbox-primary); 
  color: var(--body-text-primary); 
  border-radius: 8px;
  margin-bottom: 15px;
  border: 0px solid var(--alerts-greenborder-primary);
  border-left: 4px solid var(--alerts-greenborder-primary);
}
.aerror, .aissue, .awarning, .adanger{
  font-size: 15px;
  padding: 15px;
  background-color: var(--alerts-redbox-primary); 
  color: var(--body-text-primary); 
  border-radius: 8px; 
  margin-bottom: 15px;
  border: 0px solid var(--alerts-redborder-primary);
  border-left: 4px solid var(--alerts-redborder-primary);
}

.aimportant, .aalgorithm, .acondition, .aexpression, .afunction, .astatement{
  font-size: 15px;
  padding: 15px;
  background-color: var(--alerts-voiletbox-primary); 
  color: var(--body-text-primary); 
  border-radius: 8px; 
  margin-bottom: 15px;
  border: 0px solid var(--alerts-voiletborder-primary);
  border-left: 4px solid var(--alerts-voiletborder-primary);
}

/* giscus */

/* .giscus{
background-color: var(--comments-primary);
padding: 25px;
} */

/* Mermaid */
.mermaid, .premermaid{
  text-align: center;
  padding: 15px;
  margin: 15px 0;
  background-color: #FBFBFB;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
}

/* pseudocode */
.ps-algorithmic{
  padding: 10px 0;
}

/* Breadcrumbs */
.breadcrumbs {
  /* display: none; */
  font-size: 14px;
  position: fixed;
  padding: 10px;
  background-color: var(--table-head);
  text-align: center;
  font-size: medium;
  width: 100%;
}

.breadcrumb-item {
  display: inline-block;
  margin-right: 5px;
  color: var(--body-text-primary);
}

.breadcrumb-item::after {
  content: ">";
  margin-left: 5px;
  margin-right: 5px;
  color: var(--header-text);
}

.breadcrumb-item:last-child::after {
  content: none; /* Remove the arrow after the last item */
}
/* Breakpoints */


@media (max-width: 2560px) {
    .header{
        padding: 10px 350px;
    }
    .wrapper{
        margin: auto 350px;
    }
    .iframeytb{
      width: 560px ;
      height: 315px ;
    }
}
@media (max-width: 1440px) {
    .header{
        padding: 10px 275;
    }
    .wrapper{
        margin: auto 275px;
    }
}
@media (max-width: 1250px ) {
    .header{
        padding: 10px 225px;
    }
    .wrapper{
        margin: auto 225px;
    }
}
@media (max-width: 1024px) {
    .header{
        padding: 10px 200px;
    }
    .wrapper{
        margin: auto 200px;
    }
}
    
@media (max-width: 996px) {
    .header{
        padding: 10px 50px  ;
    }
    .wrapper{
        margin: auto 50px;
    }
}
@media (max-width: 700px) {
  .iframeytb{
    width: 460px ;
    height: 260px ;
  }
  table {
    overflow-x: auto;
    display: block;
  }
  .MathJax{
    overflow-x: auto;
    display: block;
  }
  .ps-root{
    overflow-x: auto;
    display: block;
  }
}
@media (max-width: 560px) {
  .iframeytb{
    width: 380px ;
    height: 220px ;
  }
}
@media (max-width: 425px) {
  .iframeytb{
    width: 320px ;
    height: 180px ;
  }
}
@media (max-width: 360px) {
  .iframeytb{
    width: 270px ;
    height: 150px ;
  }
}
@media (max-width: 425px) {
    .header{
        padding: 10px 25px;
    }
    .wrapper{
        margin: auto 25px;
    }
}